<!DOCTYPE html>
<html>
  <head>
    <title>
      rooster automation
    </title>
    <style>
      h1{
        font-size: 40px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(0, 20, 100);
        text-align: center;
      }

      #banner {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }

      #container {
        max-width: 720px;
        margin: 0 auto;
      }
      
    </style>
  </head>
  
  <body>
    <h1>Edudigm operations website</h1>
    <div id="container">
    <img id="banner" src = "https://samble-website-1--antinsuit.repl.co/static/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg">
    Hello there, you'll learn about the working of rooster automation in here.
      <h1>WORKING</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
      <h1>features</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      Todo: make rooster for all schools
      <button> make rooster</button>
    </div>
  </body>
</html>